*[color-type]{
    background-size: 100% 100%;
    aspect-ratio: 1 / 1;
}

*[color-type = "B"]{
    background-image: url("./images/B.svg");
}

*[color-type = "G"]{
    background-image: url("./images/G.svg");
}

*[color-type = "R"]{
    background-image: url("./images/R.svg");
}

*[color-type = "U"]{
    background-image: url("./images/U.svg");
}

*[color-type = "W"]{
    background-image: url("./images/W.svg");
}

*[color-type = "C"]{
    background-image: url("./images/C.svg");
}
