* {
    --signature-color: #471d73;
    --alternate-signature-color: #039994;

    font-family: "Do Hyeon", sans-serif;
    font-weight: 550;
    font-style: normal;

    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;

    --background-angle: -45deg;

    background-image: linear-gradient(
        var(--background-angle),
        #4a1563, #371563, #156359
    );

    background-repeat: no-repeat;
    background-attachment: scroll;
}

input, select{
    transition: linear;
    transition-duration: 100ms;

    background-color: transparent;

    border-style: solid;
    border-radius: 5px;
    border-width: 2px;

    padding: 4px;

    font-size: large;

    border-color: var(--signature-color);

    color: var(--alternate-signature-color);
}

.dropdown-content{
    position: absolute;
    z-index: 1;

    display: flex;
    flex-direction: column;

    background-color: #0000006e;
    border-radius: 5px;

    padding: 5px;

    min-width: 140px;
    max-height: 200px;

    overflow-y:scroll;
}

.dropdown {
    min-width: 140px;
}

.dropdown > input{
    width: 100%;
    text-align: center;
}

.dropdown[selected='true'] > .dropdown-content{
    display:block;
}

.dropdown[selected='false'] > .dropdown-content {
    display:none;
}

.dropdown-content > *{
    transition: linear;
    transition-duration: 200ms;

    cursor: pointer;
}

.dropdown-content > div:hover{
    transition: linear;
    transition-duration: 200ms;

    filter: invert(1);
}

hr {
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;

    margin: 8px;

    color: var(--signature-color);
}

input:hover, input:focus, select:hover, select:focus{
    transition: linear;
    transition-duration: 200ms;

    outline: none;

    border-color: var(--alternate-signature-color);
} 

#loading, #scanMenu{
    position:fixed;

    width: 100%;
    height: 100vh;

    overflow-y: hidden;

    left: 0;
    top: 0;

    background-color: #000000ce;

    backdrop-filter: blur(4px);

    color: white;

    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    align-items: center;

    text-align: center;

    z-index: 3;
}

#scanPreview, #scanVideoReader {
    height: 60vh;
}

#navbar {
    background-color: var(--signature-color);

    width: 100%;
    height: 50px;

    display: flex;

    flex-direction: row;
    align-items: center;

    position: sticky;
    top: 0;

    z-index: 2;
}

#navbar > * {
    margin-left: 25px;
    color: var(--alternate-signature-color);
}

.island-container {
    margin: 20px;
    margin-bottom: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: start;

    color: var(--alternate-signature-color);
}

.island {
    padding: 20px;
    margin: 10px;
    height: 100%;

    border: transparent;
    border-radius: 10px;

    background-color: rgba(23, 23, 23, 0.5);

    flex-grow: 1;
}

#warnings {
    position:fixed;

    width: 400px;

    right: 0;
    top: 60px;

    z-index: 3;

    color: black;

    display: flex;
    flex-direction: column;

    user-select: none;
}

#warnings > div{
    background-color: #FFFF00A0;

    padding: 10px;

    border-radius: 10px;

    text-align:center;

    display: flex;

    flex-direction: column;

    margin-bottom: 10px;

    cursor: pointer;
}

#warnings > div > *{
    pointer-events: none; 
}
